/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  background: url("Elegant_Background-1-0bb9e30a3890d77bcb818396cfa7bb73.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

.jumbotron{
  box-shadow: 0 3px 10px 0 rgba(106, 60, 150, 1);
  a {
    color: #7C24C2;
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
  }
}

#pins {
  margin: 0 auto;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
      max-width: 100%;
      height: auto;
      box-shadow: 0px 0px 1px 2px #653B94;
    }
    h2 {
      font-size: 22px;
      margin: 0;
      padding: 25px 10px;
      a {
        color: #474747;
      }
    }
    .user {
      font-size: 12px;
      border-top: 1px solid #EAEAEA;
      padding: 15px;
      margin: 0;
    }
  }
}


#pin_show {
  .panel-heading {
    padding: 0;
  }
  .pin_image {
    img {
      max-width: 100%;
      width: 100%;
      display: block;
      margin: 0 auto;
      box-shadow: 0px 0px 1px 2px #653B94;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    .user {
      padding-top: 8px;
    }
  }
}

.footer {
  padding: 40px 0;
  color: #602F88;
  text-align: center;
  background-color: #EFEFEF;
  box-shadow: 0 -3px 10px 0 rgba(87, 87, 181, 1);
}
p {
  text-shadow: rgb(255, 255, 255) 0px 1px 1px;
}

.titulo {
  color: #FFF;
  text-shadow: rgb(108, 58, 147) 2px 2px 2px;
}

.img_titulo {
  float: left;
  margin-right: 30px;
}

.container.banner {
  margin-top: 100px;
}
